<!DOCTYPE html>
<html>
<head>
    <title>Angular Learning App</title>
	<meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
</head>
<body>
    <div ng-app="LearningApp" ng-controller="GreetingController">
        <div>
            Name:
            <input type="text" ng-model="userName">
            <input type="button" value="Submit" ng-click="getGreeting(userName)">
        </div>
        <div>
            {{data}}
        </div>
    </div>
    <script>
        var learningApp = angular.module('LearningApp', []);
        learningApp.controller('GreetingController', function ($scope, $http) {
            $scope.data = '';
            $scope.getGreeting = function (userName) {
                $http.get('http://localhost:81/api/Default/Get/' + userName)
                .then(function (response) {
                    console.log(response);
                    $scope.data = response.data.Greeting;
                },
                function (response) {
                    console.log(response);
                    $scope.data = response.data.Message;
                });
            }
        });
    </script>
</body>
</html>
